---
import Layout from "../../layouts/Layout.astro";
import EventCard from "../../components/EventCard.svelte";
import { events } from "../../data/events";
---

<Layout>
  <section class="home-section">
    <div class="section-heading">
      <h1>Events</h1>
    </div>

    <div class="event-grid">
      {events.map((event) => (
        <EventCard event={event} />
      ))}
    </div>
  </section>
</Layout>