---
import Layout from "../../layouts/Layout.astro";
import ProfilePanel from "../../components/ProfilePanel.svelte";
---

<Layout>
  <h1>My Profile</h1>

  <p>Your reviews and account information.</p>

  <ProfilePanel client:load />
</Layout>