<!-- Working on at the end, for user profile updates -->
---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>My Profile</h1>

  <p>Your reviews and account information.</p>
</Layout>