---
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";
---

<!doctype html>
<html lang="en">
    <body>
        <Header client:load />

        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
